<launch>

    <arg name="color"             default="red"                 doc="color of turtlebot model"         />
    <arg name="rate"              default="500"                 doc="publishing rate"                  />
    <arg name="config_file"       default="basic_world.yaml"    doc=".yaml file to configure simulator"/>

    <node name="nusim" pkg="nusim" type="nusim_node">
        <param name="~rate" value="$(arg rate)"/>
    </node>

    <rosparam file="$(find nusim)/config/basic_world.yaml" />

    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args="true">
        <arg name="color"       value="$(arg color)"/>
        <arg name="use_jsp"     value="true"/>
        <arg name="use_rviz"    value="false"/>
    </include>

    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-f world -d $(find nusim)/config/nusim.rviz" ns="$(arg color)"/>

</launch>