<launch>

    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args="true">
        <arg name="color"      value="red"/>
        <arg name="use_jsp"    value="true"/>
        <arg name="use_rviz"   value="false"/>
    </include>

    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args="true">
        <arg name="color"      value="green"/>
        <arg name="use_jsp"    value="true"/>
        <arg name="use_rviz"   value="false"/>
    </include>

    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args="true">
        <arg name="color"      value="blue"/>
        <arg name="use_jsp"    value="true"/>
        <arg name="use_rviz"   value="false"/>
    </include>

    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args="true">
        <arg name="color"      value="black"/>
        <arg name="use_jsp"    value="true"/>
        <arg name="use_rviz"   value="false"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 world red_base_footprint" ns="red"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="link2_broadcaster" args="0 1 0 0 0 0 1 world green_base_footprint" ns="green"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="link3_broadcaster" args="-1 0 0 0 0 0 1 world blue_base_footprint" ns="blue"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="link4_broadcaster" args="0 -1 0 0 0 0 1 world black_base_footprint" ns="black"/>

    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find nuturtle_description)/config/basic_all.rviz"/>

</launch>