<launch>
    <arg name="use_rviz" default="true"/>
    <arg name="use_jsp" default="false"/>
    <arg name="color" default="black" />

    <rosparam file="$(find nuturtle_description)/config/diff_params.yaml" />

    <param name="$(arg color)/robot_description" command="$(find xacro)/xacro '$(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro' color:=$(arg color)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(eval arg('use_jsp')==true)" ns="$(arg color)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="$(arg color)"/>

    <node pkg="rviz" type="rviz" name="rviz" required="true" 
        args="-d $(find nuturtle_description)/config/basic.rviz -f world" if="$(eval arg('use_rviz')==true)" ns="$(arg color)"/>

</launch>